@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-sm: 400px;
  --breakpoint-md: 985px;
  --color-error: #f8bbbb;
  --color-warning: #fde39d;
  --color-success: #b9f0cd;

  --color-modal: rgba(0, 0, 0, 0.3);

  --color-link: #5262d8;

  --color-primary: #1e4391;
  --color-primary-hover: #2e50ae;
  --color-primary-pressed: #0f2b5e;
  --color-primary-subtitle: #eff4fb;

  --color-base: #ffffff;
  --color-base-raised: #f6f8fa;
  --color-base-sunken: #f1f5f9;
  --color-base-border: #e2e8f0;
  --color-base-gray: #f5f7fa;
  --color-base-dark-gray: #5c6374;

  --color-text-black: #222222;
  --color-text-white: #ffffff;
  --color-text-dark-gray: #354d6f;
  --color-text-light-gray: #7b8ea8;
  --color-text-green: #0e5f2c;
  --color-text-yellow: #8c6704;
  --color-text-red: #731111;

  --color-base-100: #ffffff;
  --color-base-200: #e8e8e8;
  --color-base-300: #aaaaaa;
  --color-base-400: #a3a3a3;
  --color-base-500: #3a3a3a;
  --color-base-600: #1b1b1b;

  --color-black: #262626;
  --color-gray: #aaaaaa;
}

:root {
  --media-box-border-radius: 16px;
  --media-font-family: var(--roboto-font);
  --media-control-background: rgba(0, 0, 0, 0);
  --media-text-color: #ffffff;
  --media-primary-color: #ffffff;
  --media-control-hover-background: rgba(100, 100, 100, 0.25);

  --footer-height-and-padding: 180px;
}

.elevation-1 {
  box-shadow:
    0 1px 3px 1px rgba(0, 0, 0, 0.1),
    0 1px 7px 0 rgba(0, 0, 0, 0.1);
}

.elevation-2 {
  box-shadow:
    0 2px 6px 2px rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.elevation-3 {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 4px 8px 3px rgba(0, 0, 0, 0.1);
}

.font-roboto {
  font-family: var(--roboto-font);
}

html {
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;

  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100dvh;
  width: 100%;

  background-color: #ffffff;
  background: url("/body.svg");
  background-repeat: repeat;
}

body {
  position: relative;
  overflow-x: hidden;

  display: block;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overscroll-behavior-y: contain;

  background: none;
}

svg *[color] {
  fill: currentColor;
  stroke: currentColor;
}

svg {
  object-fit: cover;
  object-position: center;
}

a {
  cursor: pointer;
}

.markdown-content {
  font-family: var(--roboto-font);
  font-size: 18px;
  line-height: 140%;
}

.markdown-content img {
  padding: 32px;
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
}

.markdown-content p {
  margin-bottom: 24px;
}

.media-time-range {
  --media-primary-color: var(--color-primary-400);
  --media-secondary-color: rgba(0, 0, 0, 0);
  --media-preview-background: rgba(0, 0, 0, 0.3);
  --media-preview-border-radius: 20px;
  --media-control-hover-background: rgba(0, 0, 0, 0);
}

.slot span {
  line-height: 22px;
}

.neuro-toast i {
  background: var(--color-black);
}
