@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-sm: 400px;
  --breakpoint-md: 985px;
  --color-error: #D84C4C;
  --color-warning: #FBB866;
  --color-success: #70B980;

  --color-modal: rgba(0, 0, 0, 0.3);

  --color-primary-100: #FFD3D3;
  --color-primary-200: #FF9DA0;
  --color-primary-300: #FF8084;
  --color-primary-400: #FF5C61;

  --color-base-100: #FFFFFF;
  --color-base-200: #E8E8E8;
  --color-base-300: #AAAAAA;
  --color-base-400: #A3A3A3;
  --color-base-500: #3A3A3A;
  --color-base-600: #1B1B1B;

  --color-black: #262626;
  --color-gray: #AAAAAA;
}

:root {
  --media-box-border-radius: 16px;
  --media-font-family: var(--font-nunito);
  --media-control-background: rgba(0, 0, 0, 0);
  --media-text-color: #FFFFFF;
  --media-primary-color: #FFFFFF;
  --media-control-hover-background: rgba(100, 100, 100, 0.25);

  --footer-height-and-padding: 180px;
}

.elevation-1 {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.1);
}

.elevation-2 {
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.elevation-3 {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 3px rgba(0, 0, 0, 0.1);
}

.font-nunito {
  font-family: var(--nunito-font);
}


html {
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;

  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100dvh;
  width: 100%;

  background-color: #FFFFFF;
  background: url('/body.svg');
  background-repeat: repeat
}

body {
  position: relative;
  overflow-x: hidden;

  display: block;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overscroll-behavior-y: contain;

  background: none;
}



svg *[color] {
  fill: currentColor;
  stroke: currentColor;
}


svg {
  object-fit: cover;
  object-position: center;
}

a {
  cursor: pointer;
}

.markdown-content {
  font-family: var(--nunito-font);
  font-size: 18px;
  line-height: 140%;
}

.markdown-content img {
  padding: 32px;
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin: 0 auto;
}

.markdown-content p {
  margin-bottom: 24px;
}

.media-time-range {
  --media-primary-color: var(--color-primary-400);
  --media-secondary-color: rgba(0,0,0,0);
  --media-preview-background: rgba(0,0,0,0.3);
  --media-preview-border-radius: 20px;
  --media-control-hover-background: rgba(0,0,0,0);
}

.slot span {
  line-height: 22px;
}

.neuro-toast i {
  background: var(--color-black);
}